@media (max-width: 1440px) {
  .navbar__menu {
    padding: 0px;
  }
  .menu-items {
    font-size: 13px;           /* 글자 크기 더 줄임 */
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 8px;                  /* 간격 더 줄임 */
    overflow-x: hidden;   
     /* 가로 스크롤 숨김 */
  }
  .navbar__menu span{
    display: none;
  }
  .menu-items li {
    flex: 0 0 auto;
    white-space: nowrap;
    padding: 0 4px;            /* 패딩 최소화 */
  }
  .menu-items .nav-Inquiry-1st{
    display: none;             /* 공간 부족시 숨김 (필요시 조정) */
  }
  .menu-items .sns-icons {
    display: flex;             /* 공간 부족시 SNS 아이콘도 숨김 */
  }
  .star{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #wating1{
    width: 25%;
    gap: 40px;
    display: flex;
    position: relative;
  }
  #wating1 img{
    width: 100%;
    position: relative;
    border-radius: 10px;
}
#wating2{
    width: 25%;
    gap: 40px;
    display: flex;
    position: relative;
  }
  #wating2 img{
    width: 100%;
    position: relative;
    border-radius: 10px;
  }
  #story #story-1st{
    font-size: 60px;
  }
  #story #story-2nd{
    font-size: 40px;
  }
  .thway-img{
    position: relative;
    left: 0%;
  }
  #sec-9 span{
  position: relative;
  left: -5%;
  }
  .bottom-form .form-slogan{
    display: none;
  }
}