*{
    text-align: center;
    caret-color: transparent;
    font-weight: bolder;
}
#logo img{
    width: 300px;
}
.highlight{
    color: red;
}
.headline{
    font-size: 60px;
}
.overline{
    text-decoration: overline;
}
.underline{
    text-decoration: underline;
    text-underline-offset: 30px;
}
p{
    font-size: 30px;
}
.history{
    text-align: left;
    margin-left: 25%;
}